// Vanilla Bootstrap

// Import all of Bootstrap's CSS
@import "bootstrap/scss/functions";



$primary: #339137;
$secondary: #124420;
$dark: #0d220a;
$blue: #233a8c;
$light: #ebeeed;

// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";


.breakpoint-indicator {
  position: relative;
}

.breakpoint-indicator::before {
  content: "XS";
  display: block;
  padding: 5px;
  background-color: #f8d7da;
  color: #721c24;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
}

@media (min-width: 576px) {
  .breakpoint-indicator::before {
    content: "SM";
    background-color: #d4edda;
    color: #155724;
  }
}

@media (min-width: 768px) {
  .breakpoint-indicator::before {
    content: "MD";
    background-color: #cce5ff;
    color: #004085;
  }
}

@media (min-width: 992px) {
  .breakpoint-indicator::before {
    content: "LG";
    background-color: #f8d7da;
    color: #721c24;
  }
}

@media (min-width: 1200px) {
  .breakpoint-indicator::before {
    content: "XL";
    background-color: #fff3cd;
    color: #856404;
  }
}

@media (min-width: 1400px) {
  .breakpoint-indicator::before {
    content: "XXL";
    background-color: #d1ecf1;
    color: #0c5460;
  }
}

body {

  header {
    .navbar {

      .navbar-brand,
      .navbar-nav .nav-link {}

      .list-group-item {
        .bi {}

        span {}
      }
    }

    .dropdown-menu {}

    .breadcrumb {
      .breadcrumb-item a {}
    }
  }

  main {
    .sticky-top {
      top: 123px;
    }

    padding-top: 150px;
    padding-bottom: 100px;
  }

  footer {
    .nav {
      .nav-item {
        a {
          .bi {}

          .small {}
        }
      }
    }
  }
}



// --------------- ecaEurope Theme --------------- //
header {
  background-color: white;
  background: white;
}

.btn-primary {
  background-color: #0d220a;
  background-image: linear-gradient(90deg, #0d220a, #339137);
  border: transparent;
  color: white;
  border-radius: 24px;
  padding: 0.5rem 2rem;
}
.btn-secondary {
  background-color: $secondary;
  color: white;
}
.card {
  border-radius: 0 !important;
  --bs-card-border-radius: 0;
}
footer {
  background: $light;

  a {
    span {
      color: white;
    }
  }
}

// --------------- Azavista Theme --------------- //

[data-bs-theme="azavista"] {
  header {
    background-color: white;

    .navbar {

      .navbar-brand,
      .navbar-nav .nav-link {}

      .list-group-item {
        .bi {}

        span {}
      }
    }

    .breadcrumb {
      .breadcrumb-item a {}
    }
  }

  // components/_main.scss
  main {
    .sticky-top {
      background-color: white;
    }

    #session-list {
      li {
        a {
          border-radius: .5rem;
          box-shadow: rgba(0, 0, 0, 0.075) 0px 2px 4px 0px;
          padding: .5rem .75rem;
          margin-bottom: .5rem;
        }
      }
    }
  }

  // components/_footer.scss
  footer {
    background-color: white;

    .nav {
      .nav-item {
        a {
          .bi {
            color: #00000080 !important
          }

          .small {
            color: #00000080 !important
          }
        }
      }
    }
  }
}


// --------------- Light Theme --------------- //

@include color-mode(light) {
  $primary: #4e8f09;
  $body-color: #302f38;
  $body-bg: #efebe6;
  $border-radius: 1rem;
  --bs-btn-bg: $primary;

  --bs-body-bg: #fff2d2;
  --bs-body-color: #212529;
  --bs-primary: #2ab24a;
  --bs-secondary: #6c757d;

  body {
    background-color: $body-bg;
  }


  header {
    background-color: $primary;
    color: white;

    .navbar {

      .navbar-brand,
      .navbar-nav .nav-link {}

      .list-group-item {
        .bi {}

        span {}
      }
    }

    .breadcrumb {
      .breadcrumb-item {
        color: #ffffffaa;

        a {
          color: white;
        }
      }
    }
  }

  main {}

  footer {
    background-color: white;

    .nav {
      .nav-item {
        a {
          .bi {
            color: $primary
          }

          .small {
            color: $secondary
          }
        }
      }
    }
  }
}

// --------------- Dark Theme --------------- //

@include color-mode(dark) {
  header {
    background-color: black;

    .navbar {

      .navbar-brand,
      .navbar-nav .nav-link {}

      .list-group-item {
        .bi {}

        span {}
      }
    }

    .breadcrumb {
      .breadcrumb-item a {}
    }
  }

  main {}

  footer {
    background-color: black;

    .nav {
      .nav-item {
        a {
          .bi {
            color: #ffffff80 !important
          }

          .small {
            color: #ffffff80 !important
          }
        }
      }
    }
  }
}