// Vanilla Bootstrap

// Import all of Bootstrap's CSS
@import "bootstrap/scss/functions";
// Required
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";
@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";

@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/transitions";
@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar"; // Requires nav
@import "bootstrap/scss/card";
@import "bootstrap/scss/breadcrumb";
@import "bootstrap/scss/accordion";
@import "bootstrap/scss/pagination";
@import "bootstrap/scss/badge";
@import "bootstrap/scss/alert";
@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
@import "bootstrap/scss/toasts";
@import "bootstrap/scss/modal"; // Requires transitions
@import "bootstrap/scss/tooltip";
@import "bootstrap/scss/popover";
@import "bootstrap/scss/carousel";
@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas"; // Requires transitions
@import "bootstrap/scss/placeholders";

// Helpers
@import "bootstrap/scss/helpers";

// Utilities
@import "bootstrap/scss/utilities/api";

body {

  header {
    .navbar {

      .navbar-brand,
      .navbar-nav .nav-link {}

      .list-group-item {
        .bi {}

        span {}
      }
    }

    .breadcrumb {
      .breadcrumb-item a {}
    }
  }

  main {
    padding-top: 150px;
    padding-bottom: 100px;
  }

  footer {
    .nav {
      .nav-item {
        a {
          .bi {}

          .small {}
        }
      }
    }
  }
}

  // --------------- Azavista Theme --------------- //

  [data-bs-theme="azavista"] {
    header {
      background-color: white;

      .navbar {

        .navbar-brand,
        .navbar-nav .nav-link {}

        .list-group-item {
          .bi {}

          span {}
        }
      }

      .breadcrumb {
        .breadcrumb-item a {}
      }
    }

    // components/_main.scss
    main {}

    // components/_footer.scss
    footer {
      background-color: white;

      .nav {
        .nav-item {
          a {
            .bi {
              color: #00000080 !important
            }

            .small {
              color: #00000080 !important
            }
          }
        }
      }
    }
  }


  // --------------- Light Theme --------------- //

  @include color-mode(light) {
    $primary: #4e8f09;
    $body-color: #302f38;
    $body-bg: #efebe6;
    $border-radius: 1rem;
    --bs-btn-bg: $primary;
    body {
      background-color: $body-bg;
    }
    

    header {
      background-color: $primary;
      color: white;

      .navbar {

        .navbar-brand,
        .navbar-nav .nav-link {}

        .list-group-item {
          .bi {}

          span {}
        }
      }

      .breadcrumb {
        .breadcrumb-item {
          color: #ffffffaa;
          a {color: white;}
        }
      }
    }

    main {}

    footer {
      background-color: white;
      .nav {
        .nav-item {
          a {
            .bi {
              color: $primary
            }

            .small {
              color: $secondary
            }
          }
        }
      }
    }
  }

  // --------------- Dark Theme --------------- //

  @include color-mode(dark) { 
    header {
      background-color: black;

      .navbar {

        .navbar-brand,
        .navbar-nav .nav-link {}

        .list-group-item {
          .bi {}

          span {}
        }
      }

      .breadcrumb {
        .breadcrumb-item a {}
      }
    }

    main {}

    footer {
      background-color: black;

      .nav {
        .nav-item {
          a {
            .bi {
              color: #ffffff80 !important
            }

            .small {
              color: #ffffff80 !important
            }
          }
        }
      }
    }
  }
